<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @distributor.email %>
</p>

<%= link_to 'Edit', edit_distributor_path(@distributor) %> |
<%= link_to 'Back', distributors_path %>
